@font-face {
  font-family: 'outline-font';
  src:  url('fonts/outline-font.eot?b41kjg');
  src:  url('fonts/outline-font.eot?b41kjg#iefix') format('embedded-opentype'),
    url('fonts/outline-font.ttf?b41kjg') format('truetype'),
    url('fonts/outline-font.woff?b41kjg') format('woff'),
    url('fonts/outline-font.svg?b41kjg#outline-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="of-"], [class*=" of-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'outline-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.of-abs:before {
  content: "\e900";
}
.of-accueil:before {
  content: "\e901";
}
.of-accueil-1:before {
  content: "\e902";
}
.of-accueil-2:before {
  content: "\e903";
}
.of-agenda:before {
  content: "\e904";
}
.of-airbag:before {
  content: "\e905";
}
.of-ajout:before {
  content: "\e906";
}
.of-ajout-1:before {
  content: "\e907";
}
.of-ajout-2:before {
  content: "\e908";
}
.of-ajout-3:before {
  content: "\e909";
}
.of-ajout-4:before {
  content: "\e90a";
}
.of-ajout-utilisateur:before {
  content: "\e90b";
}
.of-alarme:before {
  content: "\e90c";
}
.of-alarme-1:before {
  content: "\e90d";
}
.of-alarme-2:before {
  content: "\e90e";
}
.of-alert-danger:before {
  content: "\e90f";
}
.of-alignment-gauche:before {
  content: "\e910";
}
.of-arrobase:before {
  content: "\e911";
}
.of-assurance:before {
  content: "\e912";
}
.of-bagage:before {
  content: "\e913";
}
.of-bloquer:before {
  content: "\e914";
}
.of-bloquer-1:before {
  content: "\e915";
}
.of-bloquer-2:before {
  content: "\e916";
}
.of-boussole:before {
  content: "\e917";
}
.of-boussole-1:before {
  content: "\e918";
}
.of-calendrier:before {
  content: "\e919";
}
.of-calendrier-1:before {
  content: "\e91a";
}
.of-calendrier-2:before {
  content: "\e91b";
}
.of-calendrier-5:before {
  content: "\e91c";
}
.of-carte:before {
  content: "\e91d";
}
.of-climatiseur:before {
  content: "\e91e";
}
.of-cocher:before {
  content: "\e91f";
}
.of-cocher-1:before {
  content: "\e920";
}
.of-colonnes:before {
  content: "\e921";
}
.of-contacts:before {
  content: "\e922";
}
.of-couches:before {
  content: "\e923";
}
.of-couches-1:before {
  content: "\e924";
}
.of-curseur:before {
  content: "\e925";
}
.of-direction-assistee:before {
  content: "\e926";
}
.of-direction-assistee-2:before {
  content: "\e927";
}
.of-direction-assistee-3:before {
  content: "\e928";
}
.of-dollar:before {
  content: "\e929";
}
.of-dollar-2:before {
  content: "\e92a";
}
.of-dollar-3:before {
  content: "\e92b";
}
.of-dollar-4:before {
  content: "\e92c";
}
.of-editer:before {
  content: "\e92d";
}
.of-email:before {
  content: "\e92e";
}
.of-email-1:before {
  content: "\e92f";
}
.of-enregistrer:before {
  content: "\e930";
}
.of-esp:before {
  content: "\e931";
}
.of-fauteuil-chauffrant:before {
  content: "\e932";
}
.of-fauteuil-chauffrant-1:before {
  content: "\e933";
}
.of-fermer:before {
  content: "\e934";
}
.of-fermer-1:before {
  content: "\e935";
}
.of-fermer-2:before {
  content: "\e936";
}
.of-gps:before {
  content: "\e937";
}
.of-gps-1:before {
  content: "\e938";
}
.of-image:before {
  content: "\e939";
}
.of-information:before {
  content: "\e93a";
}
.of-localisation:before {
  content: "\e93b";
}
.of-localisation-1:before {
  content: "\e93c";
}
.of-localisation-2:before {
  content: "\e93d";
}
.of-localisation-3:before {
  content: "\e93e";
}
.of-localisation-4:before {
  content: "\e93f";
}
.of-menu:before {
  content: "\e940";
}
.of-menu-1:before {
  content: "\e941";
}
.of-menu-2:before {
  content: "\e942";
}
.of-menu-3:before {
  content: "\e943";
}
.of-montre:before {
  content: "\e944";
}
.of-montre-1:before {
  content: "\e945";
}
.of-montre-2:before {
  content: "\e946";
}
.of-moteur:before {
  content: "\e947";
}
.of-moteur-2:before {
  content: "\e948";
}
.of-musique:before {
  content: "\e949";
}
.of-musique-1:before {
  content: "\e94a";
}
.of-musique-2:before {
  content: "\e94b";
}
.of-musique-3:before {
  content: "\e94c";
}
.of-notification:before {
  content: "\e94d";
}
.of-parametre:before {
  content: "\e94e";
}
.of-pneu:before {
  content: "\e94f";
}
.of-porte-voiture:before {
  content: "\e950";
}
.of-question:before {
  content: "\e951";
}
.of-question-1:before {
  content: "\e952";
}
.of-quote-droite:before {
  content: "\e953";
}
.of-quote-gauche:before {
  content: "\e954";
}
.of-recherche:before {
  content: "\e955";
}
.of-recherche-1:before {
  content: "\e956";
}
.of-regulateur-vitesse:before {
  content: "\e957";
}
.of-repertoire:before {
  content: "\e958";
}
.of-sortir:before {
  content: "\e959";
}
.of-station:before {
  content: "\e95a";
}
.of-station-1:before {
  content: "\e95b";
}
.of-supprimer:before {
  content: "\e95c";
}
.of-tableau-de-bord:before {
  content: "\e95d";
}
.of-tableau-de-bord-1:before {
  content: "\e95e";
}
.of-tableau-de-bord-2:before {
  content: "\e95f";
}
.of-tableau-de-bord-3:before {
  content: "\e960";
}
.of-tableau-de-bord-4:before {
  content: "\e961";
}
.of-telecharger:before {
  content: "\e962";
}
.of-telephone:before {
  content: "\e963";
}
.of-telephone-1:before {
  content: "\e964";
}
.of-telephone-2:before {
  content: "\e965";
}
.of-texte:before {
  content: "\e966";
}
.of-usb:before {
  content: "\e967";
}
.of-usb-1:before {
  content: "\e968";
}
.of-usb-2:before {
  content: "\e969";
}
.of-usb-3:before {
  content: "\e96a";
}
.of-utilisateur:before {
  content: "\e96b";
}
.of-utilisateur-1:before {
  content: "\e96c";
}
.of-utilisateur-2:before {
  content: "\e96d";
}
.of-utilisateur-3:before {
  content: "\e96e";
}
.of-verrouiller:before {
  content: "\e96f";
}
.of-vitesse:before {
  content: "\e970";
}
.of-vitre-electrique:before {
  content: "\e971";
}
.of-voir:before {
  content: "\e972";
}
.of-voiture:before {
  content: "\e973";
}
.of-voiture-toit-ouvrant:before {
  content: "\e974";
}
.of-voiture-toit-ouvrant-1:before {
  content: "\e975";
}
